// @import '~bootstrap/scss/bootstrap';
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #008081;
    font-family: "Windows 95", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    width: 100vw;
    background: #000181;
}

h1 {
    margin: 0;
    font-family: "Windows 95";
    text-align: center;
    color: white;
    width: 100%;
}

.card-tertiary{
    margin: 25px auto;
    padding: 0;
    width: max-content;
}

.card-content {
    padding: 15px 15px;
}

#game {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#btn-logOut {
    align-self: flex-start;
    margin-left: 5px;
}

#announcer {
    font-size: 20px;
    width: 150px;
    margin: 25px auto;
    border: 2px solid black;
    text-align: center;
}

#grid {
    margin: 5px 5px;
    width: 300px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
}

#btn-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 25px;
}
